body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  display: block;
  box-sizing: inherit;
  /* height: 91vh; */
  height: calc(100vh - 5rem);
  /* width: 93vh; */
  margin: 2.5rem;
}
.leaflet-container {
  display: block;
  box-sizing: inherit;
  /* height: 91vh; */
  height: calc(100vh - 5rem);
  width: 65vw;
  /* width: 93vh; */
  margin: 2.5rem;
  border-radius: 20px;
}
/* .leaflet-control-container .leaflet-routing-container-hide {
  display: none;
} */

/* .map-bar {
  display: flex;
  flex-direction: row;
} */

/* chinh hieu ung route */
/* path.leaflet-interactive.animate {
  stroke-dasharray: 1920;
  stroke-dashoffset: 1920;
  animation: dash 9s linear 2s forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */

.map-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-location {
  /* height: 100px; */
  background-color: transparent;
  border-radius: 20px;
  /* width: 90%; */
  margin: 10px 40px;
  transition: all 0.25s;
  cursor: pointer;
  border: 1px solid rgb(172, 175, 173);
  height: 5rem;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 90%;
}
.detail-location:hover {
  background-color: rgb(115, 185, 133);
  color: rgb(27, 62, 216);
  border-radius: 20px;
}
.detail-address {
  border-radius: 20px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .toggle-btn 
{
   position: absolute; 
  background-color: red;
  width: 32px;
  height: 32px;
  right: 660px;
  top: 35px;
  align-self: flex-start;
  border-radius: 3px;
  cursor: pointer;
  z-index: 99999;
} */
.toggle-btn {
  /* position: relative; */
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin-left: -8rem;
  margin-top: 3.5rem;
  align-self: flex-start;
  border-radius: 3px;
  cursor: pointer;
  z-index: 99999;
}
.leaflet-geosearch-bar {
  width: 30rem !important;
  left: -8rem;
}
